.container
  .well
    h2 About MultiSnake
    p 
      | This project was created by 
      a(href="http://www.mpwoz.com") Martin Wozniewicz 
      | in January 2013
    
    p MultiSnake is built using the wonderful Node.js, 
      | socket.io, Coffeescript, and Twitter Bootstrap

    p While I learned a ton doing this, there are still a few things I didn't get 
      | around to, like a scoreboard and way to identify other users.  
  

  h2 Interested in how it works?
  p
    a(href="http://www.github.com/mpwoz/multisnake") Check out the source code!
