!!! 5
head
  meta(charset='utf-8')
  title MultiSnake
  meta(name='description', content='Remake of the classic arcade game')
  meta(name='author', content='Martin Wozniewicz')
  meta(name="viewport", content="width=device-width, initial-scale=1.0")

  != css('bootstrap')
  != css('bootstrap-responsive')

body 

  //.navbar.navbar-fixed-top
    .navbar-inner
      .container
        a.brand(href="/") MultiSnake
        ul.nav
          li
            a(href="/about") About

  != body

  //!= js('jquery')
  //!= js('bootstrap')
  script(src="/socket.io/socket.io.js")
  != js('snake_game')

| </html>
